
<div class="m-auto">
  <div class="layer0">
    <h1>TechNurturers</h1>
    <div class="prg">
      <p>The best platform that provides all technical services in Egypt.</p>
    </div>
  </div>
  <div class="text">
    <p>Sincere in connecting you quickly with skilled technicians who can solve any technical problem. We understand the frustration and inconvenience that occurs when something breaks unexpectedly. And for this</p>
    <button class="mt-3" type="submit">Book with a technician now</button>
  </div>
  <div class="layer1">
    <img class="w-100" src="../../assets/Untitled design 3.png" alt="">
  </div>
  <div class="brdr-img"></div>
</div>











<!-- <div class="container">
<div class="row">

  <div class="col-md-6">
    <div class="img p-5">
      <img class="w-100" src="../../assets/Untitled design 3.png" alt="">
      </div>
      <div class="brdr-img m-auto"></div>
    </div>
  

<div class="col-md-6">
<div class="text mt-5">
    <h1>TechNurturers</h1>
    <div class="prg">
      <p>The best platform that provides all technical services in Egypt.</p>
    </div>
</div>
<div class="text2 mt-5">
    <p>Sincere in connecting you quickly with skilled technicians who can solve any technical problem. We understand the frustration and inconvenience that occurs when something breaks unexpectedly. And for this</p>
    <button class="mt-3" type="submit">Book with a technician now</button>
</div>
</div>
</div>
</div> -->