<header id="category">
  <div class="slider">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/Component 1.png" class="d-block w-100 h-100" alt="img1">
        </div>
        <div class="carousel-item">
          <img src="../../assets/Property 1=Frame 3.png" class="d-block w-100 h-100" alt="img2">
        </div>
        <div class="carousel-item">
          <img src="../../assets/Property 1=Frame 2.png" class="d-block w-100 h-100" alt="img3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

</header>
<section class="category-item" >
  <h1>OUR CATEGORIES</h1>
  <p>Find the technician you want, as all specialties will be found here</p>
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <div class="category-img position-relative d-flex justify-content-center align-content-center">
          <img  class="my-4 w-100 h-100" src="../../assets/Rectangle 67.png" alt="">
          <div class="img-item position-absolute text-center p-2">
           <h3>mechanical</h3>
           <p>536 Available</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="category-img position-relative d-flex justify-content-center align-content-center">
          <img class="my-4 w-100 h-100" src="../../assets/Rectangle 59.png" alt="">
          <div class="img-item position-absolute text-center p-2">
            <h3>Carpenter</h3>
            <p>1765 Available</p>
           </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="category-img position-relative d-flex justify-content-center align-content-center">
          <img class="my-4 w-100 h-100" src="../../assets/Rectangle 94.png" alt="">
          <div class="img-item position-absolute text-center p-2">
            <h3>Gypsum factor</h3>
            <p>2347 Available</p>
           </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="category-img position-relative d-flex justify-content-center align-content-center">
          <img class="my-4 w-100 h-100" src="../../assets/Rectangle 95.png" alt="">
          <div class="img-item position-absolute text-center p-2">
            <h3>Electrical</h3>
            <p>1765 Available</p>
           </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="category-img position-relative d-flex justify-content-center align-content-center">
          <img class="my-4 w-100 h-100" src="../../assets/Rectangle 98.png" alt="">
          <div class="img-item position-absolute text-center p-2">
            <h3>Conch</h3>
            <p>1534 Available</p>
           </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="category-img position-relative d-flex justify-content-center align-content-center">
          <img class="my-4 w-100 h-100" src="../../assets/Rectangle 96.png" alt="">
          <div class="img-item position-absolute text-center p-2">
            <h3>Plumber</h3>
            <p>592 Available</p>
           </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="category-img position-relative d-flex justify-content-center align-content-center">
          <img class="my-4 w-100 h-100" src="../../assets/Rectangle 97.png" alt="">
          <div class="img-item position-absolute text-center p-2 ">
            <h3>Tile worker</h3>
            <p>762 Available</p>
           </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="category-img position-relative d-flex justify-content-center align-content-center">
          <img class="my-4 w-100 h-100" src="../../assets/Rectangle 103.png" alt="">
          <div class="img-item position-absolute text-center p-2 ">
            <h3>Tailor</h3>
            <p>135 Available</p>
           </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="category-img position-relative d-flex justify-content-center align-content-center">
          <img class="my-4 w-100 h-100" src="../../assets/Rectangle 107.png" alt="">
          <div class="img-item position-absolute text-center p-2">
            <h3>Naash</h3>
            <p>Available</p>
           </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="category-img position-relative d-flex justify-content-center align-content-center">
          <img class="my-4 w-100 h-100" src="../../assets/Rectangle 106.png" alt="">
          <div class="img-item position-absolute text-center p-2">
            <h3>A Builder</h3>
            <p>3652 Available</p>
           </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="category-img position-relative d-flex justify-content-center align-content-center">
          <img class="my-4 w-100 h-100" src="../../assets/Rectangle 108.png" alt="">
          <div class="img-item position-absolute text-center p-2 ">
            <h3>Smith</h3>
            <p>1756 Available</p>
           </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="category-img position-relative d-flex justify-content-center align-content-center">
          <img class="my-4 w-100 h-100" src="../../assets/Rectangle 110.png" alt="">
          <div class="img-item position-absolute text-center p-2">
            <h3>Aluminum Worker</h3>
            <p>1562 Available</p>
           </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="category-img position-relative d-flex justify-content-center align-content-center">
          <img class="my-4 w-100 h-100" src="../../assets/Rectangle 115.png" alt="">
          <div class="img-item position-absolute text-center p-2 ">
            <h3>Cleaners </h3>
            <p>812 Available</p>
           </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="category-img position-relative">
          <img class="my-4 w-100 h-100" src="../../assets/Rectangle 112.png" alt="">
          <div class="img-item position-absolute text-center p-2">
            <h3>Equipment Maintenance</h3>
            <p>3201 Available</p>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bg my-5 py-4">
  <h4>We will add other categories soon...</h4>
</div>
<section class="top-rate">
  <h2>TOP RATE</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="top-rate-img my-5 position-relative">
          <img class="w-100 h-100" src="../../assets/Rectangle 177.png" alt="">
          <div class="img-caption text-center position-absolute">
            <h3 class="pt-2">AHMED EL MOHAMDY</h3>
            <p>Electrican</p>
            <p><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i></p>
            <button class="mb-2">BOKKING NOW</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="top-rate-img my-5 position-relative">
          <img class="w-100 h-100" src="../../assets/Rectangle 179.png" alt="">
          <div class="img-caption text-center position-absolute">
            <h3 class="pt-2">MAHMOUD SASA</h3>
            <p>Smith</p>
            <p><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i></p>
            <button class="mb-2">BOKKING NOW</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="top-rate-img my-5 position-relative">
          <img class="w-100 h-100" src="../../assets/Rectangle 177.png" alt="">
          <div class="img-caption text-center position-absolute">
            <h3 class="pt-2">AHMED EL MOHAMDY</h3>
            <p>Electrican</p>
            <p><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i></p>
            <button class="mb-2">BOKKING NOW</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="top-rate-img my-5 position-relative">
          <img class="w-100 h-100" src="../../assets/Rectangle 179.png" alt="">
          <div class="img-caption text-center position-absolute">
            <h3 class="pt-2">MAHMOUD SASA</h3>
            <p>Smith</p>
            <p><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i></p>
            <button class="mb-2">BOKKING NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="d-flex">
    <div class="col-md-4">
      <div class="logo text-center d-flex justify-content-center align-items-center">
        <h2>TechNurturers</h2>
      </div>
    </div>
    <div class="col-md-8">
      <div class="footer-items d-flex">
        <div class="col-md-6 col-lg-3 mt-3">
          <p>Home</p>
          <p>About Us</p>
          <p>Category</p>
        </div>
        <div class="col-md-6 col-lg-3 mt-3">
          <p>Community</p>
          <p>Shop</p>
          <p>Policies</p>
        </div>
        <div class="col-md-6 col-lg-3 mt-3">
          <p>Contact us</p>
          <p>TechNurturers@gmail.com</p>
          <p>(+20) 152 2548 1863</p>
        </div>
      </div>
     <div class="line my-4"></div>
     <div class="social my-3 d-flex justify-content-between">
      <p>Copyright ©  2023 TechNurturers Cairo, Egypt.** All rights reserved.</p>
     <div class="social-icons mx-4">
      <i class="fa-brands fa-instagram mx-3"></i>
      <i class="fa-brands fa-facebook mx-3"></i>
      <i class="fa-brands fa-twitter mx-3"></i>
     </div>
    </div>
    </div>

  </div>
</footer>

