@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Merriweather:wght@300&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;500&family=Merriweather:wght@300&display=swap");

.home,.home-footer{
    font-family: 'Poppins', sans-serif !important;
}
.text h2{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    line-height: 40px;
}
.text p{
    line-height: 30px;
    font-size: 20px;
}
button{
    background-color: #4682A9;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-weight: 400;
}
.home-footer,.about-footer{
    background-color:#91C8E4;
}
.home-footer p{
    font-size: 19px;
}
.about-text h2{
        font-family: 'Merriweather', serif;
        font-size: 60px;
        text-align-last: right;
    }
    .about-text p{
            text-align: right;
            font-size: 28px;
            font-weight: 500;
            line-height: 35px;
          
        }