<section class="home">
    <div class="home my-5 mx-5 py-5">
        <div class="container">
          <div class="row">
              <div class="col-md-6">
                 <div class="text">
                  <h2>"مرحبًا بك في صنايعي العرب الحل الشامل 
                      لجميع الاحتياجات التقنية"</h2>
                      <p>"مرحبًا بك في صنايعي العرب الحل الشامل لجميع الاحتياجات التقنية"
                          سواء كان ذلك في المنزل، أو في المكتب، أو في أي مكان بينهما. بدلاً من التركيز على ما يجب فعله بعد ذلك، قم بزيارة صنايعي العرب.
                           ترحب بك مجموعة من الفئات المنظمة بعناية، بدءًا من خبراء الكهرباء وأساتذة السباكة وحتى خبراء تصليح السيارات ومبدعي النجارة - لدينا كل شيء.
                          احجز مع صنايعي الان
                          حرك الفأرة لأسفل</p>
                          <button >احجز مع صنايعي الان</button>     
                 </div>   
              </div>
              <div class="col-md-6">
                  <div class="img">
                      <img src="assets/23.png" class="w-100" alt="">
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="home-footer px-3 py-5 text-center">
          <p> هل وجدت الفني المثالي لاحتياجاتك؟</p>
          <p>اطلب المساعدة ببضع نقرات فقط. حدد مشكلتك، والوقت المفضل، والموقع - الفنيون لدينا جاهزون لإنقاذك.</p>
      </div>
</section>
<section class="about">
    <div class="about my-5 py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-text">
                        <h2 class="fw-bold">من نحن </h2>
                        <p>في صنايعي العرب، نحن لسنا مجرد منصة أخرى عبر الإنترنت - بل نحن شريكك المخلص في توصيلك بسرعة بالفنيين المهرة الذين يمكنهم حل أي مشكلة فنية. نحن نتفهم الإحباط والإزعاج الذي يحدث عندما يتعطل شيء ما بشكل غير متوقع. ولهذا السبب قمنا بصياغة حل ثوري يعيد القوة إلى يديك.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img">
                        <img class="w-100 container-fluid" src="assets/28.png" alt="">
                    </div>
        
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 mt-4">
                <div class="img">
                    <img class="w-100 container-fluid" src="assets/19.png" alt="">
                </div>
              </div>
               <div class="col-md-6 mt-4">
                <div class="about-text">
                    <h2 class="fw-bold">مهمتنا</h2>
                        <p>مهمتنا هي سد الفجوة بين الأفراد الذين يحتاجون إلى المساعدة الفنية والمهنيين الذين يمتلكون المعرفة والمهارات اللازمة لإصلاح أي مشكلة. نحن نؤمن بأن الجميع يستحق الوصول إلى خبراء موثوقين دون ضغوط عمليات البحث التي لا نهاية لها أو أوقات الانتظار غير المؤكدة.</p>
                </div>
               </div>
            </div>
        </div>
        </div>
        <div class="about-footer px-3 py-5">
        <p class="fw-bold text-center">أطلق العنان لعالم من الراحة - قم بتنزيل تطبيق صنايعي العرب متوفر الان في المتجر الاكتروني</p>
        <p class="text-center">
            الحل النهائي للأعطال الفنية أصبح الآن على بعد نقرة واحدة فقط. من خلال تطبيقنا المخصص للهاتف المحمول والكمبيوتر اللوحي، يمكنك التحكم بشكل لم يسبق له مثيل. لهذا السبب يجب عليك تنزيله الآن:</p>
        </div>
</section>
